:root {
  --branding-color: #cfc647ef;
  --secondary-color: #231f20;
  --background-color: #fef6ec;
  --heading-font-family: "Syne", sans-serif;
  --second-heading-font-family: "Marcellus", serif;
  --default-font-family: "Open Sans", sans-serif;
}
body {
  background-color: var(--background-color);
  font-family: var(--default-font-family);
  color: var(--secondary-color);
  font-size: 24px;
}
h1 {
  font-size: 96px;
  font-weight: 600;
  line-height: 1.5;
  color: var(--secondary-color);
  font-family: var(--heading-font-family);
}
h2 {
  font-size: 72px;
  font-weight: 500;
  color: #872319;
  line-height: 1.5;
  font-family: var(--heading-font-family);
}
h3 {
  font-size: 56px;
  font-weight: 600;
  color: var(--secondary-color);
  font-family: var(--heading-font-family);
}

h4 {
  font-size: 34px;
  font-weight: 300;
  color: var(--secondary-color);
  font-family: var(--default-font-family);
  line-height: 1.5;
}
p {
font-size: 18px;
font-weight: normal;
line-height: 1.5;
}
hr {
  color: black;
  opacity: 1;
  margin: 20px auto;
}
footer{
margin: 60px 0;
}
footer .call-to-action{
  padding: 30px 140px;
  
}
footer .call-to-action p{
  margin: 0;
}
footer .social-links a{
margin: 0 20px;
color: var(--secondary-color);
background: var(--branding-color);
padding: 10px 14px;
font-size: 18px;
border-radius: 50%;
transition: all 100ms ease-in-out;
}
footer .social-links a:hover{
color: var(--background-color);
background: var(--branding-color);
}
.navbar {
  padding: 20px 80px 0;
}
.navbar.navbar-expand-lg.navbar-light {
  padding-top: 20px;
}
.navbar-light.navbar-nav.nav-link {
  color: var(--secondary-color);
}
a.nav-link {
  color: var(--secondary-color);
  text-align: center;
  text-decoration: none;
  font-family: var(--heading-font-family);
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 600;
}
.navbar-brand {
  color: var(--secondary-color);
  font-family: var(--heading-font-family);
  font-size: 24px;
  font-weight: 800;
  opacity: 80%;
  padding: 0;
}
.navbar-brand:hover {
  opacity: 100%;
}
.navbar-nav .nav-link:hover {
  opacity: 100%;
}
.navbar-toggler {
  border: none;
  color: var(--background-color);
}
.hero {
  max-width: 100%;
  padding: 150px 120px;
}
.green-section {
  background-color: var(--branding-color);
}
.blue-section {
  background-color: #bcd7e4;
}

.content {
  margin: 30px;
}
.skill-selections p {
  font-size: 24px;
  text-align: center;
}
.project-description {
  padding: 100px 60px;
}

img.about-me-img {
  width: 90%;
}
img.skills-img {
  width: 160px;
}
.project-img:hover,
.project-img:focus {
  box-shadow: 5px 5px 5px rgba(78, 65, 65, 0.075);
  transform: translateY(-0.1em);
}
.btn-branding {
  background-color: var(--branding-color);
  border-radius: 4px;
  font-family: var(--heading-font-family);
  font-size: 18px;
  font-weight: 600;
  line-height: 1.5;
  color:white;
  text-decoration: none;
  padding: 15px 25px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.075);
}
.btn-branding:hover {
  color: white;
  opacity: 50%;
}
.btn-branding-outline {
  border-radius: 4px;
  color: var(--branding-color);
  border-radius: 4px;
  border: 1px solid var(--branding-color);
  background-color: transparent;
  font-family: var(--heading-font-family);
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
  padding: 15px 25px;
  margin-top: 35px;
  box-shadow: 5px 5px 5px rgba(78, 65, 65, 0.075);
}
.btn-branding-outline:hover {
  background-color: var(--branding-color);
  color: white;
}
@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding: 0 30px;
  }
}
@media (max-width: 992px) {
  h1 {
    font-size: 72px;
    text-align: center;
  }
  h2 {
    font-size: 64px;
  }
  h3 {
    text-align: center;
    font-size: 32px;
  }
  h4 {
    text-align: center;
    font-size: 20px;
  }
  p {
    text-align: center;
  }
  hr {
    margin: 0px;
  }
  .navbar.navbar-expand-lg.navbar-light {
    padding: 10px;
  }
  .hero {
    padding: 100px 50px;
  }

  p.skill {
    font-size: 18px;
    padding: 25px 0px;
  }
  div.profile-img {
    text-align: center;
  }
  img.skills-img.img-fluid {
    margin: 15px 0px;
    padding: 0 15px;
    width: 160px;
    
  }
  img.about-me-img {
    width: 50%;
    text-align: center;
  }
  a.btn-branding,
  a.btn-branding-outline {
    margin: 0px 0px;
  }
  .project-description {
    text-align: center;
    padding: 25px 0;
  }
}
@media (max-width: 550px) {
  img.skills-img.img-fluid {
    margin: 15px 0px;
    width: 120px;
    height: 100px;
    padding: 0px 5px;
  }

}
