:root {
  --branding-color: #cfc647ef;
  --secondary-color: black;
  --background-color: #fef6ec;
  --heading-font-family: "Syne", sans-serif;
  --default-font-family: "Montserrat", sans-serif;
}
body {
  font-family: var(--default-font-family);
  color: var(--default-font-family);
  line-height: 1.5;
}
h1 {
  color: #feb800;
  font-size: 120px;
  font-weight: 800;
  line-height: 1;
  font-family: var(--heading-font-family);
}
h2 {
  font-weight: 600;
  font-size: 96px;
  line-height: 1.5;
  opacity: 70%;
  font-family: var(--heading-font-family);
}
h3 {
  font-size: 84px;
  line-height: 1.5;
  font-family: var(--heading-font-family);
}
p {
  font-size: 20px;
  opacity: 0.73;
}
hr{
  color: black;
  opacity: 1;
  margin-bottom: 30px;
  margin-top: 0px;
}
.navbar {
  padding: 10px 80px;
}
.navbar.navbar-expand-lg.navbar-light{
  padding-top: 20px;
  padding-bottom: 10px;
}
.navbar-light.navbar-nav.nav-link{
  color: black;
}
a.nav-link{
  color: black;
  text-decoration: none;
  font-family: var(--default-font-family);
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 600;
  opacity: 0.95;
  text-transform: uppercase;
}
.navbar-brand {
  color: var(--secondary-color);
  font-family: var(--heading-font-family);
  font-size: 24px;
  font-weight: 800;
  opacity: 80%;
  padding: 0;
}
.navbar-brand:hover {
  opacity: 100%;
}
.navbar-nav .nav-link:hover {
  opacity: 100%;
}
.navbar-toggler {
  border: none;
  color: var(--background-color);
}
.header-container {
  max-width: 100%;
}
.card{
  padding-bottom: 30px;
}
.card-title {
  padding: 160px 20px;
}
.first-name{
  padding-right: 95px;
  padding-bottom: 10px;
}
.last-name{
  padding-left: 95px;
}
.content-container {
  padding: 160px 20px;
}
.content {
  margin: 30px;
}
.about-me-img{
  padding: 60px;
}
.about-me-snippet{
  margin-top: 100px;
}
.skills-section {
  background-color: var(--branding-color);
  padding: 30px 0;
}
.skills-title{
  margin-bottom: 60px;
}
.skills-selections{
  padding-top: 50px;
}
img.skills-img.img-fluid {
  width: 280px;
  height: 261px;
}
p.skill{
  font-family: var(--heading-font-family);
  padding-top: 60px;
  font-size: 34px;
  font-weight: 500;
  text-align: center;
}
.lower-section {
  margin-top: 50px;
  margin-bottom: 100px;
}
.project-description {
  padding: 100px 60px;
}
.btn-branding {
  background-color: var(--branding-color);
  border-radius: 4px;
  font-size: 18px;
  color: white;
  text-decoration: none;
  padding: 15px 30px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.075);
}
.btn-branding:hover {
  color: white;
  opacity: 50%;
}
.btn-branding-outline {
  border-radius: 4px;
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
  background-color: transparent;
  font-size: 20px;
  padding: 10px 25px;
  margin-top: 35px;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.075);
}
.btn-branding-outline:hover {
  background-color: var(--branding-color);
  color: white;
}
@media (min-width: 992px){
.navbar-expand-lg .navbar-nav .nav-link {
padding: 0 30px;

}
}
@media(min-width:1440px){
  img.card-img.img-fluid{
  height: 735px;
}
}
@media (max-width: 992px) {
  h1 {
    font-size: 80px;
  }
  h2 {
    font-size: 26px;
  }
  h3 {
    font-size: 32px;
  }
  

  .card-title{
    padding: 100px 0;
  }
  .first-name,.last-name{
   padding: 0;
   margin: 0;
  }
  .btn-branding,
  .btn-branding-outline {
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    padding: 10px 10px;
    margin: 15px 0px 55px;
  }
  .project-description {
    text-align: center;
    padding: 25px 0;
  }
}
@media(max-width:550px){
 h1{
   font-size: 42px;
 }
 .card-title{
    padding: 30px 0;
  }
}