:root {
  --branding-color: #cfc647ef;
  --secondary-color: black;
  --background-color: #fef6ec;
  --heading-font-family: "Syne", sans-serif;
  --default-font-family: "Marcellus", serif;
}
body {
  background-color: var(--background-color);
  font-family: var(--default-font-family);
  color: var(--secondary-color);
  font-size: 24px;
}
h1 {
  font-size: 64px;
  font-weight: 500;
  line-height: 1.5;
  font-family: var(--default-font-family);
}
h2 {
  font-weight: 400;
  font-size: 80px;
  line-height: 1.5;
  font-family: var(--heading-font-family);
}
h3 {
  font-size: 48px;
  font-weight: 400;
  line-height: 1.5;
  font-family: var(--heading-font-family);
}
h4 {
  font-size: 32px;
  font-weight: 400;
  font-family: var(--default-font-family);
  line-height: 1.5;
}
p {
  font-size: 16px;
  font-family: var(--default-font-family);
}
hr {
  color: black;
  opacity: 1;
  margin: 20px 0px;
}
.navbar {
  padding: 20px 80px 0;
}
.navbar.navbar-expand-lg.navbar-light {
  padding-top: 20px;
}
.navbar-light.navbar-nav.nav-link {
  color: black;
}
a.nav-link {
  color: black;
  text-align: center;
  text-decoration: none;
  font-family: var(--heading-font-family);
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 600;
  opacity: 0.95;
}
.navbar-brand {
  color: var(--secondary-color);
  font-family: var(--heading-font-family);
  font-size: 24px;
  font-weight: 800;
  opacity: 80%;
  padding: 0;
}
.navbar-brand:hover {
  opacity: 100%;
}
.navbar-nav .nav-link:hover {
  opacity: 100%;
}
.navbar-toggler {
  border: none;
  color: var(--background-color);
}
.hero {
  max-width: 100%;
  padding: 150px 120px;
}
.green-section {
  background-color: var(--branding-color);
}
.blue-section {
  background-color: #bcd7e4;
}
.content-container {
  padding: 60px 20px;
}
.content {
  margin: 30px;
}
p.skill {
  padding-top: 40px;
  font-size: 32px;
  text-align: center;
}
.project-description {
  padding: 100px 60px;
}
.about-me-title {
  color: #872319;
  font-weight: 700;
}

img.about-me-img {
  width: 80%;
}
img.skills-img {
  width: 50%;
}
img.social-icon {
  height: 30px;
  margin: 0 10px;
}
.btn-branding {
  background-color: var(--branding-color);
  border-radius: 4px;
  font-family: var(--heading-font-family);
  font-size: 18px;
  font-weight: 600;
  color: white;
  text-decoration: none;
  padding: 15px 30px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.075);
}
.btn-branding:hover {
  color: white;
  opacity: 50%;
}
.btn-branding-outline {
  border-radius: 4px;
  color: var(--branding-color);
  border-radius: 4px;
  border: 1px solid var(--branding-color);
  background-color: transparent;
  font-family: var(--heading-font-family);
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
  padding: 15px 30px;
  margin-top: 35px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.075);
}
.btn-branding-outline:hover {
  background-color: var(--branding-color);
  color: white;
}
@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding: 0 30px;
  }
}
@media (max-width: 992px) {
  h1 {
    font-size: 32px;
  }
  h2 {
    font-size: 40px;
  }
  h3 {
    text-align: center;
    font-size: 32px;
  }
  h4 {
    text-align: center;
    font-size: 24px;
  }
  p {
    font-size: 14px;
    text-align: center;
  }
  hr {
    margin: 0px;
  }
  .navbar.navbar-expand-lg.navbar-light {
    padding: 10px;
  }
  .hero{
    padding: 100px 50px;
  }
  .about-me-snippet {
    text-align: center;
    margin-top: 50px;
  }
  p.skill {
    font-size: 18px;
    padding: 25px 0px;
  }
  .skills-section {
    padding: 0px 10px;
  }
  .skills-selections {
    padding-top: 15px;
  }
  img.skills-img.img-fluid {
    margin: 15px 0px;
    width: 160px;
    height: 140px;
  }
  .btn-branding,
  .btn-branding-outline {
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    padding: 10px 10px;
    margin: 0px 0px;
  }
  .project-description {
    text-align: center;
    padding: 25px 0;
  }
  .work-inquiry.container {
    margin: 10px 0;
  }
}
@media (max-width: 550px) {
  img.skills-img.img-fluid {
    margin: 15px 0px;
    width: 160px;
    height: 100px;
    padding: 0px 5px;
  }
  .skills-section {
    padding: 0px 20px;
  }
}
